.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}
.white {
	color: white;
}
.top-buffer { 
	margin-top:20px; 
}
ul {
    list-style-image: url('appellogo_small2.png');
}
