.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 21%;
    left: 0;
    width: 100%;
}
.white {
	color: white;
}
.top-buffer-35 { 
	margin-top:35px; 
}
.top-buffer-30 { 
	margin-top:30px; 
}
.top-buffer { 
	margin-top:20px; 
}
.top-buffer-small { 
	margin-top:10px; 
}
.appelList {
    list-style-image: url('appellogo_small2.png');
}
.appelListTarieven {
    list-style-image: url('appellogo_small2.png');
	margin-left: 5px;
}
ul {
  list-style-type: none;
}
.backgroundcirkel{
    background-image: url("vragen.png");
    background-repeat: no-repeat;
	background-position: right bottom;
}

.orange{
	background-color: rgb(244, 166, 63);
}
.lightorange{
	background-color: rgb(255, 239, 204);
}
.green{
	background-color: rgb(141, 198, 63);
}
.brown_text{
	color: rgb(128, 66, 42) !important;
}
.orange_text{
	color: rgb(244, 166, 63);
}

/*lettertype */
.font_Khula {
	font-family: 'Khula';font-size: 18px;
}
.font_Alegreya_navbar {
	font-family: 'Alegreya Sans SC';font-size: 20px;
}
.custom_header {
	font-family: 'Sofia';font-size: 33px;
}
.custom_heading {
	/*font-family: 'Alegreya Sans SC';font-size: 50px;*/
	font-family: 'Coiny';font-size: 50px;
}
.custom_heading_small {
	font-family: 'Coiny';font-size: 30px;
}
.custom_heading_mobile {
	font-family: 'Coiny';font-size: 28px;
}
.custom_heading_small_mobile {
	font-family: 'Coiny';font-size: 17px;
}
/* horizontal line */
hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
  margin-bottom: 5px;
  margin-top: 10px;
} 

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each icon */

/* Facebook */
.fa-facebook {
    padding: 5px;
	font-size: 40px;
	width: 50px;
    text-align: center;
    text-decoration: none;
	color: rgb(244, 166, 63);
}

/* Instagram */
.fa-instagram{
    padding: 5px;
	font-size: 40px;
	width: 50px;
    text-align: center;
    text-decoration: none;
	color: rgb(244, 166, 63);
}
/* Adres */
.fa-home {
    background: white;
    color: rgb(244, 166, 63);
	margin-right: 10px;
}
/* Mail */
.fa-envelope{
    background: white;
    color: rgb(244, 166, 63);
	margin-right: 10px;
}
/* Phone */
.fa-phone{
    background: white;
    color: rgb(244, 166, 63);
	margin-right: 10px;
}
/* Clock */
.fa-clock{
	background: white;
	color: rgb(244, 166, 63);
}
/* Euro */
.fa-euro-sign{
	background: white;
	color: rgb(244, 166, 63);
}

/* Afspraken pagina */
.custom-hello-week {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: var(--hello-week-border-radius);
    background-color: var(--hello-week-bg-color);
    box-shadow: 0 2px 20px 8px rgba(0,0,0,.12);
    user-select: none
}

/* available hours layout */
.hourslist{
    border-width:5px;  
    border-style:solid;
}